@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=REM:ital,wght@0,100..900;1,100..900&display=swap');
h1{
    font-family: "Playfair Display", serif;
    font-style: italic;
}
p{
    margin-right: 450px;
    margin-left: 450px;
}
ul>li{
    margin-left: 500px;
}
.btn{
    margin-left: 500px;
    margin-bottom: 50px;
}
.map{
    margin-left: 350px;
    box-shadow: 10px 10px 10px 5px black;
    margin-right: 600px;
    border-radius: 10px;
    margin-bottom: 100px;
}
h2{
    margin-left: 250px;
    margin-bottom: 15px;
    font-family: "Playfair Display", serif;
}